.navbar{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar li{
    list-style: none;
}

.navbar li button{
    border-style: none;
    background-color: transparent;
    color: gray;
}